@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff;
}

header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 72px;
}

.subheader {
    font-size: 36px;
    margin: 16px 0 24px 0;
}

button {
    background-color: #05c7cf;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

a {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.logo {
    width: 300px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* About Section */
#about,
#discord,
#contact, 
footer {
    padding: 48px 0;
}

#about {
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__img--wrapper {
    width: 40%;
}

img {
    width: 100%;
}

.section__description--wrapper {
    width: 60%;
}

.about__img--wrapper,
.section__description--wrapper {
    padding: 0 24px;
}

.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

#discord {
    background-color: #cefeff;
}

#contact {
    background-color: #dce9ff;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}

input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 480px;
    margin-bottom: 16px;
}

.footer__links {
    margin-bottom: 32px;
}

.footer__link {
    padding: 0 16px;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 728px) {
    .row {
        flex-direction: column;
    }

    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        text-align: center;
        font-size: 60px;
    }

    .subheader {
        text-align: center;
        font-size: 28px;
    }

    ul {
        display: none;
    }

    .section__description {
        flex-direction: column;
    }

    .section__description--wrapper {
        width: 100%;
    }

    .about__img--wrapper {
        width: 100%;
    }

    #discord .section__description {
        flex-direction: column-reverse;
    }

    footer {
        padding: 48px 24px;
    }

    .footer__logo {
        max-width: 360px;
    }

    .footer__link {
        padding: 0 3px;
        font-size: 18px;
    }

    .footer__links {
        margin-bottom: 24px;
    }

}