:root {
    --div-background-color: red;
    --text-color: black;
    --div-padding: 10px;
    --div-margin: 10px;
}

body {
    /* Since --background-color is undefined,
    we fallback on the color pink*/
    background-color: var(--background-color, pink);
}

.child {
    background-color: var(--div-background-color);
    color: var(--text-color);
}

.one {
    /* Updating div-background-color and text-color since variables
    cascade downwards throughout the file */
    --div-background-color: blue;
    --text-color: #fff;
}

.one-one {
    margin: var(--div-margin);
    padding: var(--div-padding);
}

.one-two {
    margin: var(--div-margin);
    padding: var(--div-padding);
}