* {
    box-sizing: border-box;
}

body {
    font-family: VT323, monospace;
    margin: 0;
}

main {
    padding: 36px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

header > img {
    height: 100%;
    margin-left: 10%;
}

header > p {
    color: whitesmoke;
    font-size: 50px;
    margin-left: 60px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.75rem;
    font-weight: 500;
}

.meme {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.meme > img {
    width: 60%;
}

.meme > h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.meme > .bottom {
    bottom: 0;
}

.meme > .top {
    top: 0;
}

.meme-form {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.meme-form > input {
    width: 45%;
    height: 40px;
}

.meme-form > button {
    border: none;
    font-size: 25px;
    letter-spacing: 1.5px;
    color: #fff;
    background: #6441A5;
}