@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary-color: rgba(100,21,255, 1);
    --btn-hover-color: rgba(80,17,204, 1);
    --secondary-color: rgba(124,139,161, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.text__primary-color {
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, p {
    letter-spacing: 0.025em;
    color: rgba(36,62,99, 1);
}

button:hover {
    cursor: pointer;
}

p {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: #242424;
}


body {
    max-width: 100vw;
    overflow-x: hidden;
    padding-top: 2rem;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

ul {
    display: flex;
}
li {
    list-style-type: none;
    font-weight: 500;
}

.primary__button {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 32px;
    border: none;
}

.primary__button:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.no__click {
    cursor: not-allowed;
}


/* NAV BAR */
.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 54px;
    margin-right: 12px;
    max-width: 100%;
}

.nav__logo-name {
    font-size: 32px;
    font-weight: 900;
    transition: all 300ms ease;
}

.nav__logo-name:hover {
    color: var(--primary-color);
}

.nav__link {
    margin: 0 32px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 4px 0;
    transition: all 300ms ease;
    border-bottom: 3px solid transparent;
}

.nav__links {
    align-items: center;
}

.nav__link:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.pl_1 {
    margin-left: 64px;
}

.nav__link--primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 32px;
    border-radius: 36px;
    margin-left: 24px;
}

.nav__link--primary:hover {
    color: #fff;
    text-decoration: none;
    background-color: var(--btn-hover-color);
}

/* HEADER */
header {
    padding: 24px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__wrapper {
    display: flex;
    padding: 5rem 0;
}

.header__img {
    width: 60%;
}

.header__description {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__img--wrapper {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.header__img {
    width: 100%;
}

.header__title {
    font-weight: 700;
    font-size: 64px;
    color: #000;
}

.header__subhead {
    line-height: 36px;
    font-size: 24px;
    font-weight: 400;
}

.header__customer--title {
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;
}

.header__customer--img {
    margin-top: 1rem;
    width: 75%;
    opacity: 0.5;
}

.header__input {
    position: relative;
    max-width: 36rem;
}

.header__input-input {
    padding: 1.75rem 12rem 1.75rem 3rem;
    border-width: 3px;
    border-radius: 64px;
    width: 100%;
    font-weight: 500;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-size: 20px;
    transition: all 300ms ease;
}

.btn {
    font-weight: 700;
    font-size: 20px;
    width: 12rem;
    padding: 16px 0;
    transition: all 300ms ease;
}

.header__btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.header__input-input:focus {
    outline: transparent solid 2px;
    border-color: var(--primary-color);
}

/* FEATURES */

.features__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.center__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__title,
.section__title--center {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    padding-bottom: 24px;
}

.section__subtitle,
.section__subtitle--center {
    font-weight: 900;
    font-size: 64px;
    padding-bottom: 24px;
}

.section__para--center,
.section__para{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 700px;
    width: 100%;
}

.section__para--center {
    text-align: center;
}

.services {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.service__container {
    display: flex;
    align-items: flex-start;
    width: calc(100% / 3);
    padding: 3rem 0.5rem;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.service__img-container {
    border: 2px solid #e5e7eb;
    padding: 32px;
    border-radius: 100%;
}

.service__img {
    width: 1.5rem;
    height: 1.5rem;
}

.services__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

.service__para {
    line-height: 42px;
    font-size: 20px;
    margin-right: 8px;
}

/* QUALITY WORK */
.section__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 6rem 0;
}

.section__img {
    max-width: 100%;
    height: auto;
}
/* 
.img__wrapper {
    max-width: none;
} */

#quality .section__img {
    border: 1px solid var(--secondary-color);
}

.section__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50%;
}

/* STEPS */
#steps .section__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list__steps {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1rem;
}

.step__number {
    color: #ccc;
    font-weight: 500;
    font-size: 3.5rem;
}

.step__description--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.step__title {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 24px;
}

.step__para {
    font-size: 20px;
    line-height: 36px;
}

.step:not(:last-child) {
    margin-bottom: 32px;
}

.img__wrapper {
    width: 50%;
}

/* VALUES */
.values__principles {
    display: flex;
}

.values__header {
    display: flex;
    align-items: center;
    margin: 24px 0;
}

.values__svg svg {
    width: 28px;
    height: 28px;
    display: block;
}

.values__svg {
    padding: 16px;
    border-radius: 100%;
    margin-right: 20px;
}

.values__svg-green {
    background-color: rgba(154,230,180, 1);
    color: rgba(39,103,73, 1);
}
.values__svg-red {
    background-color: rgba(254,178,178, 1);
    color: rgba(155,44,44, 1);
}

#values .btn {
    margin-top: 32px;
}

/* PRICING */

.plans__container {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* padding: 8px; */
}

.plan__card {
    margin-top: 64px;
    margin-right: 36px;
    width: calc(100% / 3);
    text-align: center;
    /* padding: 0 32px; */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
}

.plan__header {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding: 32px 0;
    line-height: 1.625;
}

.plan__header .plan__title {
    font-size: 28px;
    font-weight: 700;
}

.plan__header .plan__price {
    font-size: 60px;
    font-weight: 700;
    margin: 8px 0;
}

.plan__header .plan__annual {
    color: rgba(160,174,192, 1);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
}

.plan__features {
    display: flex;
    flex-direction: column;
    padding: 36px;
    border-top: 3px solid #e5e7eb;
    border-bottom: 3px solid #e5e7eb;
}

.feature {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    color: var(--secondary-color);
}

.plain__feature--main {
    font-size: 32px;
    font-weight: 700;
}

.plan__card--business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.plan__card--business .plan__features {
    border-color: rgba(102,126,234, 1);
}

.plan__card--business .feature {
    color: rgba(226,232,240,1);
}

.plan__button {
     padding: 32px 16px;
}

.buynow__btn {
    color: #fff;
    text-transform: uppercase;
    padding: 20px 36px;
    font-weight: 700;
    width: 50%;
    font-size: 20px;
    border-radius: 9999px;
    border: none;
    letter-spacing: 1.5px;
    opacity: 1;
    transition: all 350ms ease;
}

.buynow__btn:hover {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.35);
    opacity: 0.8;
}

.business__btn {
    background-color: #fff;
    color: rgba(100,21,255,1);
}

.plan__color--enterprise {
    background: linear-gradient(90deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__color--personal {
    background: linear-gradient(90deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__highlight {
    position: absolute;
    height: 12px;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/* TESTIMONIALS */
#testimonials .img__wrapper {
    padding-right: 80px;
    align-self: center;
}

#testimonials .section__para {
    margin-bottom: 40px;
    line-height: 1.75;
}

.testimonial__ratings {
    color: rgba(246,173,85, 1);
    margin-bottom: 24px;
}

.testimonial__title {
    font-size: 28px;
    margin-bottom: 24px;
}

.testimonial__para {
    color: rgba(74,85,104, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    margin-bottom: 36px;
}

.testimonial__author--wrapper {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.testimonial__author--img {
    margin-right: 32px;
}

.testimonial__author {
    display: flex;
    flex-direction: column;
}

.testimonial__author--name {
    color: rgba(36,62,99, 1);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 8px;
}

.testimonial__author--title {
    color: rgba(124,139,161, 1);
    font-size: 24px;
}

/* FAQS */
.questions__container {
    margin-top: 64px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(237,242,247, 1);
    color: rgba(45,55,72,1);
    font-size: 28px;
    font-weight: 500;
    padding: 32px 48px;
    margin-top: 32px;
    border-radius: 12px;
    transition: all 400ms ease;
}

.question:hover {
    background-color: rgba(226,232,240, 1);
}

/* Foot */
.foot__wrapper {
    background-color: rgba(100,21,255,1);
    border-radius: 12px;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

}

#foot .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
}

.foot__title {
    color: #fff;
    font-size: 44px;
    font-weight: 500;
    width: 50%;
}

.foot__btn {
    padding: 24px 36px;
    font-size: 26px;
    font-weight: 500;
    border-radius: 9999px;
    border: none;
    color: #fff;
    transition: all 350ms ease;
}

.btn__start {
    margin-right: 40px;
    background-color: rgba(245,101,101, 1);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.35);
}

.btn__start:hover {
    background-color: rgba(229,62,62,1);
}

.btn__contact {
    background-color: var(--primary-color);
    border: 2px solid #fff;
}

.btn__contact:hover {
    background-color: #fff;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

/* FOOTER */
footer {
    background-color: var(--primary-color);
    color: #fff;
}

footer .row {
    max-width: 1600px;
    margin: 0 auto;
}

.footer__list--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list--items {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.footer__list--title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__list--items li {
    margin-top: 18px;
    font-size: 18px;
}

.footer__list--item {
    padding: 4px 0;
    color: #fff;
    transition: all 300ms ease;
    border-bottom: 3px solid transparent;
}

.footer__list--item:hover {
    border-color: #fff;
}

footer hr {
    margin: 80px 0;
    background-color: rgba(116,44,255,1);
    height: 3px;
    border: none;
}

.footer__treact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__treact--logo {
    display: flex;
    align-items: center;
}

.footer__treact--logo .logo {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.footer__treact--name {
    font-size: 32px;
    font-weight: 700;
}

.footer__copyright {
    color: rgba(203,213,224,1);
    font-size: 24px;
}

.footer__social--link i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.footer__social--link {
    font-size: 16px;
    padding: 16px;
    border-radius: 100%;
    background-color: #fff;
    transition: all 350ms ease;
}

.footer__social--link:not(:last-child) {
    margin-right: 28px;
}

.footer__social--link:hover {
    background-color: rgba(203,213,224, 1);
}