@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary-color: rgba(100,21,255, 1);
    --btn-hover-color: rgba(80,17,204, 1);
    --secondary-color: rgba(124,139,161, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.text__primary-color {
    color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, p {
    letter-spacing: 0.025em;
    color: rgba(36,62,99, 1);
}

p {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: #242424;
}

a:hover {
    color: var(--primary-color);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 2rem;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

ul {
    display: flex;
    align-items: center;
}
li {
    list-style-type: none;
    font-weight: 500;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 32px;
    border: none;
}

button:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}


/* NAV BAR */
.nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 54px;
    margin-right: 12px;
    max-width: 100%;
}

.nav__logo-name {
    font-size: 32px;
    font-weight: 900;
}

.nav__link {
    margin-left: 42px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: all 300ms ease;
}

.nav__link:hover {
    border-bottom: 3px solid var(--primary-color);
}

.pl_1 {
    margin-left: 64px;
}

.nav__link--primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 12px 32px;
    border-radius: 36px;
    margin-left: 24px;
}

.nav__link--primary:hover {
    color: #fff;
    text-decoration: none;
    background-color: var(--btn-hover-color);
}

/* HEADER */
header {
    padding: 24px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__wrapper {
    display: flex;
    padding: 5rem 0;
}

.header__img {
    width: 60%;
}

.header__description {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__img--wrapper {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
}

.header__img {
    width: 100%;
}

.header__title {
    font-weight: 700;
    font-size: 64px;
    color: #000;
}

.header__subhead {
    line-height: 36px;
    font-size: 24px;
    font-weight: 400;
}

.header__customer--title {
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;
}

.header__customer--img {
    margin-top: 1rem;
    width: 75%;
    opacity: 0.5;
}

.header__input {
    position: relative;
    max-width: 36rem;
}

.header__input-input {
    padding: 1.75rem 12rem 1.75rem 3rem;
    border-width: 3px;
    border-radius: 64px;
    width: 100%;
    font-weight: 500;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    font-size: 20px;
    transition: all 300ms ease;
}

.header__input-btn {
    position: absolute;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 12rem;
    top: 0;
    right: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 20px;
}

.header__input-input:focus {
    outline: transparent solid 2px;
    border-color: var(--primary-color);
}

/* FEATURES */
.container {
    padding: 80px 0;
}

.features__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.features__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    padding-bottom: 24px;
}

.section__subtitle {
    font-weight: 900;
    font-size: 64px;
    padding-bottom: 24px;
}

.section__para{
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    max-width: 700px;
    width: 100%;
}

.services {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.service__container {
    display: flex;
    align-items: flex-start;
    width: calc(100% / 3);
    padding: 3rem 0.5rem;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.service__img-container {
    border: 2px solid #e5e7eb;
    padding: 32px;
    border-radius: 100%;
}

.service__img {
    width: 1.5rem;
    height: 1.5rem;
}

.services__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

.service__para {
    line-height: 42px;
    font-size: 20px;
}


