* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background-color: hsl(200, 70%, 30%);
    width: 100px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}


/* Used transform to move the 'After' to the center top of the box */
.box::after {
    content: 'After';
    background-color: red;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}